/**
* @name Havex
* @version 0.0.1
* @description For when default discord just isn't dark enough, a theme for those who live a night
* @author vvhsx
* @source https://github.com/vvhsx/vvhsx.github.io/tree/main/havex
*/
@import url("https://vvhsx.github.io/havex/core/havex.css");
/*
                                         
                                         
██╗  ██╗ █████╗ ██╗   ██╗███████╗██╗  ██╗
██║  ██║██╔══██╗██║   ██║██╔════╝╚██╗██╔╝
███████║███████║██║   ██║█████╗   ╚███╔╝ 
██╔══██║██╔══██║╚██╗ ██╔╝██╔══╝   ██╔██╗ 
██║  ██║██║  ██║ ╚████╔╝ ███████╗██╔╝ ██╗
╚═╝  ╚═╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝
                                         
                                         
*/
@import url("https://vvhsx.github.io/havex/core/badges.css");
@import url("https://vvhsx.github.io/havex/core/custom-font.css");
@import url("https://vvhsx.github.io/havex/core/RadialStatus.css");
:root {
  --backgroundColor01: #161616;
  --backgroundColor02: #0f0f0f;
  --mainColor: #dd1d1d;
  --gradientColor01: #ffc400;
  --gradientColor02: #dd1d1d;;

  /* Better Hljs */
  --backgroundCode: #1a1a1a;
  --backgroundName: rgba(0, 0, 0, .2);

  /* Radial Status */
  --rs-small-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-visible: block;
  --rs-phone-color: var(--rs-online-color);

  --customFont: 'gg sans', sans-serif;
}